<html>
<head>
<title>stories.Login.UserLogin</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1>Running User Login</h1>
<div class="path">stories/Login/UserLogin.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@user </div>
</div>
<div class="narrative"><h2>Narrative:</h2>
<div class="element inOrderTo"><span class="keyword inOrderTo">In order to</span> test Magnum application</div>
<div class="element asA"><span class="keyword asA">As a</span> tester</div>
<div class="element iWantTo"><span class="keyword iWantTo">I want to</span> use the BDD approach in testing features and functionality</div>
</div>
<div class="scenario">
<h2>Scenario: User Login Stage Another</h2>
<div class="step successful">Given user is present on Magnum loginpage</div>
<div class="step successful">When user enter username and password</div>
<div class="step successful">And click the login button</div>
<div class="step successful">Then user should see the second stage of login</div>
</div>
<div class="scenario">
<h2>Scenario: User Login Stage Two</h2>
<div class="step successful">Given user is present on Memorable Word page</div>
<div class="step successful">When the user enter first memorable character</div>
<div class="step successful">And second memorable character</div>
<div class="step successful">And third memorable character</div>
<div class="step successful">And click login button</div>
<div class="step successful">Then user should be on the homepage</div>
</div>
<div class="scenario">
<h2>Scenario: Select Workspace</h2>
<div class="step successful">Given the user is on homepage</div>
<div class="step successful">When user select 'TAF' workspace</div>
<div class="step successful">Then user should be on the Documents page</div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
